*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}
h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#002e5b; text-align:center;}
h1 span{font-weight:500;}

header{width:100%; display:table; background-color:white; margin-bottom:30px; font-weight: bold;;}
#logo{float:left; font-size:20px; text-transform:uppercase; color:gray; font-weight:600; padding:20px 20px;}
nav{width:auto; float:right; text-decoration: none;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#002e5b; font-size:16px; font-style:initial; padding: 20px 20px; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#002e5b; color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a i{padding-right:0px; color:#002e5b; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:0px;}
.toggle-menu ul li{width:100%; height:0px; background-color:#002e5b; margin-bottom:0px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}

.content{display:table; margin-bottom:60px; width:900px;}
.content h2{font-size:18px; font-weight:500; color:#002e5b; border-bottom:1px solid #fde428; display:table; padding-bottom:10px; margin-bottom:10px;}
.content p{font-size:15px; line-height:22px; color:#7c7c7c; text-align:justify; padding-bottom: 0px;}


@media only screen and (max-width: 900px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}

input[type=checkbox]:checked ~ nav {display:block;}

nav{display:none; position:absolute; right:0px; top:53px; background-color:#002e5b; padding:0px; z-index:99;}
nav ul{width:auto;}
nav ul li{float:none; padding:0px; width:100%; display:table;}
nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#fde428; padding-right:13px;}
}




.galeria {
	text-align: center;
  align-items: center;
  
}
.galeria li {
	display: inline-block;
	margin: 5px;
	list-style: none;
}
.galeria a {
	position: relative;
	display: inline-block;
}
.clip img {
	padding: 4px;
	border: solid 1px #bbb;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}





/*******************************************/

.grupo {

  margin-left: 60px;
  margin-right: 30px;
  font-size: 16px; font-weight:500; color:#002e5b; border-bottom:0.5px solid #fde428; display:table; padding-bottom:8px; margin-bottom:10px;

}

.accordion {
    background-color: #646464ad;
    border-bottom:1px solid #fde428;
    color: white;
    cursor: pointer;
    width: 91%;
    margin-left: 60px;
    margin-right: 30px;
    padding: 12px;
    position: center;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    
    
  }
  
  .active, .accordion:hover {
    background-color: #002e5b;
    
  }
  
  .accordion:after {
    content: '\002B';
    color: rgb(187, 199, 18);
    line-height: 1,1em;
    float: right;
    margin-left: 5px;
    
    
  }
  
  .active:after {
    content: "\2212";
    
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    line-height: 1,1em;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height:22px; color:#7c7c7c; text-align:justify;
    font-size: 8px;
  }

  .parrafo {

    font-size: 15px;
    overflow-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }

.container {

margin-top: 40px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
font-size: 16px;
line-height : 1,3;

}


.container img {

padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
padding-left: 10px;
margin: 10px;
vertical-align: middle;
padding: 4px;
	border: solid 1px #bbb;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);


}




/***************************/


.content-2 {

  font-size: 12px;
  align-items: center;
  
}